#hero-box-container {
    display: flex;
    align-items: center;
    padding: var(--padding-m);
    background-color: var(--white-two-color);
    margin-top: 4px;
}

#hero-box-container h1{
    text-transform: uppercase;
    flex: 1;
    line-height: 150%;
    letter-spacing: 8px;
    font-size: clamp(var(--font-size-xl), 4vw, var(--font-size-xxl));
} 

#hero-box-container span {
    background-image: url("/images/box.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 75%;
    border-radius: .625rem;
    padding: 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.hero-box-img-container {
    width: 100%;
    text-align: right;
    flex: 1;
}

.hero-box-img-container img {
    width: 100%;
}

@media (max-width: 1024px) {
    #hero-box-container {
        flex-direction: column;
    }

    #hero-box-container h1 {
        margin-bottom: var(--margin-m);
        text-align: center;
    }
}