#events {
  padding: var(--padding-m);
}

.events-page-header-filters {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.events-page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-s);
}

.events-list-container {
  padding-top: var(--padding-m);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-m);
  justify-content: space-around;
  margin-bottom: var(--margin-xl);
}
