.event-card-container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  color: var(--gray-dark-color);
}

.event-card-img-container {
  clip-path: polygon(
    0.151% 25.879%,
    0.151% 25.879%,
    0.098% 22.795%,
    0.056% 20.014%,
    0.033% 17.517%,
    0.033% 15.281%,
    0.064% 13.288%,
    0.131% 11.515%,
    0.24% 9.943%,
    0.398% 8.55%,
    0.611% 7.316%,
    0.884% 6.22%,
    0.884% 6.22%,
    1.212% 5.285%,
    1.587% 4.531%,
    2.017% 3.939%,
    2.506% 3.487%,
    3.062% 3.155%,
    3.69% 2.923%,
    4.397% 2.769%,
    5.188% 2.672%,
    6.069% 2.614%,
    7.048% 2.571%,
    71.654% 0,
    93.223% 2.115%,
    93.223% 2.115%,
    94.157% 2.21%,
    94.999% 2.315%,
    95.754% 2.45%,
    96.429% 2.635%,
    97.03% 2.889%,
    97.562% 3.233%,
    98.032% 3.686%,
    98.445% 4.269%,
    98.807% 5%,
    99.125% 5.9%,
    99.125% 5.9%,
    99.392% 6.95%,
    99.604% 8.132%,
    99.765% 9.466%,
    99.883% 10.97%,
    99.963% 12.666%,
    100.011% 14.573%,
    100.032% 16.71%,
    100.034% 19.099%,
    100.021% 21.757%,
    100% 24.706%,
    99.605% 77.516%,
    99.605% 77.516%,
    99.583% 80.378%,
    99.557% 82.959%,
    99.521% 85.276%,
    99.469% 87.348%,
    99.396% 89.194%,
    99.295% 90.834%,
    99.16% 92.285%,
    98.985% 93.567%,
    98.765% 94.698%,
    98.493% 95.697%,
    98.493% 95.697%,
    98.174% 96.548%,
    97.814% 97.235%,
    97.407% 97.776%,
    96.946% 98.191%,
    96.426% 98.498%,
    95.84% 98.716%,
    95.183% 98.863%,
    94.449% 98.959%,
    93.631% 99.022%,
    92.724% 99.072%,
    74.572% 100%,
    8.021% 98.903%,
    8.021% 98.903%,
    7.132% 98.886%,
    6.329% 98.851%,
    5.608% 98.782%,
    4.963% 98.661%,
    4.387% 98.468%,
    3.875% 98.187%,
    3.42% 97.798%,
    3.016% 97.285%,
    2.657% 96.628%,
    2.338% 95.81%,
    2.338% 95.81%,
    2.063% 94.845%,
    1.837% 93.748%,
    1.654% 92.501%,
    1.509% 91.086%,
    1.394% 89.485%,
    1.304% 87.68%,
    1.233% 85.652%,
    1.174% 83.383%,
    1.123% 80.856%,
    1.073% 78.052%,
    0.151% 25.879%
  );
  overflow: hidden;
}

.event-card-img-container img {
  width: 100%;
  transition: all 0.3s ease-out;
  object-fit: cover;
}

.event-card-img-container img:hover {
    transform: scale(1.1);
}

.event-card-body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

.event-card-body h4 {
    color: var(--black-color);
}

.info {
    display: flex;
    justify-content: space-between;
}

.description {
    text-align: justify;
}