textarea {
  width: 100%;
  border: 1px solid var(--gray-light-color);
  border-radius: var(--border-radius-xs);
  outline: none;
  padding: var(--padding-xs);
  font-family: inherit;
}

textarea:focus {
  border: 2px solid var(--primary-color);
}

textarea.error-input {
  border: 1px solid var(--error-color);
}
