.modal-content {
  width: clamp(300px, 40%, 600px);
  background-color: var(--white-color);
  border-radius: var(--border-radius-s);
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  padding: var(--padding-m);
  height: fit-content;
  max-height: 80vh;
  overflow-y: auto;
}

.close-icon-container {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.close-icon-container img {
  padding: var(--padding-xs);
}

.close-icon-container img:hover {
  background-color: var(--primary-color);
  border-radius: 100%;
}

.modal-content h2 {
  text-transform: uppercase;
}

.modal-content::-webkit-scrollbar {
  width: 6px;
}

.modal-content::-webkit-scrollbar-track {
  background: var(--white-color);
  border-radius: var(--border-radius-xs);
}

.modal-content::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: var(--border-radius-xs);
}
