.form-item input:not([type="file"]) {
  width: 100%;
  height: 36px;
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--gray-light-color);
  outline: none;
  padding: var(--padding-xs);
  color: var(--black-color);
  font-family: inherit;
}

.form-item input:focus {
  border: 2px solid var(--primary-color);
}
